<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&family=IBM+Plex+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,800&family=Open+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/baron-neue" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container center-screen text-center flex-column d-flex align-items-center gap-3">
        <div class="sign-in m-auto pt-4">
            <div class="sign-in-header" >
                <h1 class="text-center left-header-text">Login to your <a href="/" th:ref="${/}"><span style="color: #58bcdb; font-family: 'Baron Neue','serif'">STRING</span><span style="color: #4296af; font-family: 'Baron Neue','serif'">WIZ</span></a> account</h1>
                <p class="text-center description">Please enter your personal/company email address</p>

                <div class="input-group mb-3 pt-3">
                    <span class="input-group-text" id="user-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                    </span>
                    <input type="email" id="full-name" class="form-control" placeholder="name@site.com" aria-label="full-name" aria-describedby="user-addon">
                </div>

                <button class="btn login-btn">Continue</button>
            </div>
            <div class="pt-5">
                <p class="description text-center">Not a member yet? <a href="/signup" class="sign-up">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>